/* CUSTOM-PROPS */
:root {
  --heading-font-stack: "Josefin Sans", "Arial", sans-serif;
}


/* FONT-FACE */
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-Light.woff2") format("woff2"),
    url("../fonts/JosefinSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata-Regular.woff2") format("woff2"),
    url("../fonts/Alata-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Alata", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.66;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* BUTTON */
.button {
  display: inline-block;
  padding: 13px;
  border: 1px solid #000;
  min-width: 157px;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease,
    color 0.4s ease;
}

.button:hover {
  background-color: #000;
  color: #fff;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* INDEX-HERO-WRAPPER */
.index-hero-wrapper {
  background-color: #000;
  background-image: url("../img/index-hero-wrapper-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* SITE-HEADER */
.site-header {
  padding-top: 64px;
  padding-bottom: 64px;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__logo {
  display: flex;
  margin-right: 24px;
  transition: opacity 0.4s ease;
}

.site-header__logo:hover {
  opacity: 0.8;
}

.site-header__logo:active {
  opacity: 0.6;
}

.site-header__logo-img {
  width: 192px;
  height: 32px;
  object-fit: contain;
}


/* SITENAV */
.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sitenav__item::after {
  width: 45%;
  height: 2px;
  margin-top: 8px;
  background-color: #fff;
  content: "";
  opacity: 0;
  transition: opacity 0.4s ease;
}

.sitenav__item:hover::after {
  opacity: 1;
}

.sitenav__item:not(:last-child) {
  margin-right: 32px;
}

.sitenav__link {
  color: #fff;
  text-decoration: none;
}


/* HERO */
.hero {
  padding-top: 60px;
  padding-bottom: 146px;
  color: #fff;
}

.hero__lead {
  margin: 0;
  width: 100%;
  max-width: 650px;
  padding: 40px;
  border: 2px solid #fff;
  font-family: var(--heading-font-stack);
  text-transform: uppercase;
  font-size: 72px;
  line-height: 70px;
  font-weight: 300;
}


/* PROMO */
.promo {
  padding-top: 160px;
  padding-bottom: 92px;
}

.promo__container {
  display: flex;
  align-items: flex-end;
}

.promo__img {
  flex-shrink: 0;
  width: 731px;
  height: 500px;
  object-fit: cover;
}

.promo__info {
  width: 541px;
  padding-top: 96px;
  padding-left: 96px;
  margin-left: -161px;
  background-color: #fff;
}

.promo__heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: var(--heading-font-stack);
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
}


/* INDEX-CREATIONS */
.index-creations {
  padding-top: 92px;
  padding-bottom: 154px;
}

.index-creations__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.index-creations__heading {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 24px;
  font-family: var(--heading-font-stack);
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
}


.index-creations__list-wrapper {
  padding-bottom: 30px;
}

.index-creations__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: -30px;
  margin-bottom: -30px;
}

.index-creations__item {
  width: 255px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.index-creation {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 450px;
  text-decoration: none;
}

.index-creation::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  opacity: 0;
  content: "";
  transition: opacity 0.4s ease;
}

.index-creation:hover::before {
  opacity: 1;
}

.index-creation__img {
  width: 255px;
  height: 450px;
  object-fit: cover;
}

.index-creation__heading {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 32px 40px;
  margin: 0;
  font-family: var(--heading-font-stack);
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

.index-creation__heading::before {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 320px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%);
  content: "";
  opacity: 1;
  transition: opacity 0.4s ease;
}

.index-creation:hover .index-creation__heading {
  color: #000;
}

.index-creation:hover .index-creation__heading::before {
  opacity: 0;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .index-hero-wrapper {
    background-image: url("../img/index-hero-wrapper-bg@2x.jpg");
  }
}
